.header {
  background-color: rgb(252, 252, 252);
  border-bottom: 1px solid rgb(190, 33, 222); 
  padding: 15px 0;
  box-shadow: 0px 10px 20px 0px rgba(190, 33, 222, 0.6);
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo-link img {
  display: block;
  border-radius: 50%; 
  object-fit: cover;
}

.header__list {
  display: flex;
  list-style: none; 
  gap: 24px; 
}

.header__link, 
.header__action-btn {
  color: rgb(25, 143, 11);
  text-decoration: none;
  font-family: 'Tenor Sans', 'Arial', sans-serif;
  font-size: 14px;
  text-transform: uppercase; 
  transition: color 0.2s ease;
}

/* СТИЛЬ АКТИВНОЙ СТРАНИЦЫ В ШАПКЕ */
.header__link--active {
  color: rgb(190, 33, 222) !important;
  font-weight: bold;
  text-shadow: 0px 0px 10px rgba(190, 33, 222, 0.5);
  pointer-events: none; 
}